
.footer{
    background: linear-gradient(to bottom, #ffffff 0%, #66ccff 100%);
    font-size: 30px;
    text-align: center;
}
h4{
    padding-top: 20px;
    padding-bottom: 20px;
}
footer{
    position: relative;
}







  